<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<head th:fragment="header">
    <title>TODO List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/all.css" />

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <script src="/bootstrap/jquery.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/widget/simple-date-picker.css" />
    <script type="text/javascript" src="/widget/simple-date-picker.js"></script>
</head>

<nav th:fragment="mynavbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Todo App</a>

    <!-- Links -->
    <ul class="navbar-nav">

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Language
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/main?lang=chi">Chi</a>
                <a class="dropdown-item" href="/main?lang=en">Eng</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
</body>
</html>