<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Getting Started: This is the Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!------ Include the above in your HEAD tag ---------->
    <!--https://bootsnipp.com/snippets/j6r4X-->
    <link rel="stylesheet" href="/bootstrap/all.css" />

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <script src="/bootstrap/jquery.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>

    <style>
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.promptError {
    color: red;
}
</style>

</head>

<body class="container">
<br>  <p class="text-center">Demo System</p>
<hr>
<div class="row">
    <div class="card"  style="width: 400px" >
        <article class="card-body">
            <h4 class="card-title mb-6 mt-2">Sign in</h4>
            <div style="color : red;" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div style="color : red;" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}"  method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input name="username" class="form-control" placeholder="Username" type="text" />
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" class="form-control" placeholder="******" type="password" />
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->
            </form>


        </article>
    </div> <!-- card.// -->
</div>

</body>
</html>