<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/components :: header"></head>
<body>
<style>
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
    .datepicker {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
      height: 24px;
      line-height: 24px;
      width: 230px;
    }

    .datepicker:focus {
      outline: none;
      border: 1px solid #1abc9c;
    }

    .btn-red {
      background: red;
      color: white;
    }

    .error {
      color: red;
    }
</style>
<div class="container">

    <div class="container">
        <div class="row align-items-center">
            <h2><span>My TODO List - SEARCH</span>
                <a class="btn navbar-btn btn-danger pull-right" role="button" href="/logout">Logout</a>
            </h2>
        </div>
    </div>


    <p>Be reminded..</p>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Importance</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${todoList}">
            <td th:text="${job.id}" >ID</td>
            <td th:text="${job.description}" >Description</td>
            <td th:text="${job.deadlineStr}" >Deadline</td>
            <td>
                <div th:switch="${job.status}">
                    <p th:case="1">未做</p>
                    <p th:case="2">已完成</p>
                    <p th:case="*">未知</p>
                </div>
            </td>
            <td>
                <div th:switch="${job.importance}" th:style="${job.importance==2} ? 'background: red' : 'background: white' " >
                    <p th:case="1">平常</p>
                    <p th:case="2">重要</p>
                    <p th:case="*">未知</p>
                </div>
            </td>
            <td><button type="button" class="btn btn-secondary" th:onClick="|performDelete(${job.id})|">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <br>
    <hr/>
    <form id="myJobForm" th:action="@{/search}" th:object="${jobForm}"  method="post" >
        <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" ></div>
        <div class="error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}" > </div>
        <div class="error" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" > </div>

        <input type="hidden" value="search" name="actionName" />
        <input type="hidden" value="0" name="id" />
        <div class="form-group">
            <label for="description">Job Description:</label>
            <input type="text" class="form-control" placeholder="Description" id="description" th:field="*{description}">
        </div>
        <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option1" name="option1" class="custom-control-input" value="1" th:field="*{status}">
                <label class="custom-control-label" for="option1">未完成</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option2" name="option2" class="custom-control-input" value="2" th:field="*{status}">
                <label class="custom-control-label" for="option2">已完成</label>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Deadline</label>
            <input type="text" class="form-control" placeholder="Deadline" id="date" th:field="*{deadline}">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{importance}"`>
            <label class="form-check-label" for="exampleCheck1">重要</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<script type="text/javascript">

$(document).ready(function(){
  var $date = document.querySelector('#date');
        // initial datepicker with the input Node
        console.log('going to init date picker');
        datepicker.init($date);
});

function performDelete(jobID){

    var form = document.getElementById('myJobForm');
    if ( form != null ){
        form.actionName.value = 'delete';
        form.id.value = jobID;
        form.submit();
    } else {
        console.log('Form is null');
    }
    return false;

}

</script>
</body>
</html>